.project {
  display: flex;
  justify-content: space-between;
  .projectName {
  }

  .btnUpdateDelete {
    display: flex;
    justify-content: space-between;
    width: 20%;
    .btnDelete {
      color: #ffacac;
    }
    .btnUpdate {
      color: #acffac;
    }
  }
}
