.form-item > .ant-col-16 {
  max-width: 100% !important;
}

.upload-image > .ant-upload.ant-upload-select {
  display: block !important;
}

.btn-upload {
  width: 100% !important;
}
.form-todo
  > .ant-form.ant-form-horizontal
  > .ant-form-item-has-error
  > .ant-form-item-control
  > .ant-form-item-explain-connected
  > .ant-form-item-explain-error {
  display: none;
}
